@charset "UTF-8";
html {
	height: 100%;
	font-size: 16px;
	line-height: 1.375em;
}

body {
	height: 100%;
	background: white;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Open Sans',Meiryo,メイリオ,sans-serif;
	font-weight: 400;
	color: #555555;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: large;
	color: #FFFFFF;
	margin-top: 4px;
	padding: 0.3em 0 0.3em 6px;
    border: 1px solid #E50012;
	background-color: #E50012;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	-ms-background-size: auto 100%;
}

.inner{
	padding: 10px 10px 0 10px;
}

input,select,textarea{
	margin: 3px 0;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 130%;
	font-size: 130%;
}

table{
	width:100%;
}

/*##############################
共通ヘッダー/フッター
##############################*/
#header {
	padding: 5px 0 0 0;
	border-top: #E50012 2px solid;
	background: #FFFFFF;
	line-height: 1;
}

#header_logo {
	float:left;
	margin: 5px 0 5px 10px;
}

#header_menu {
	float:right;
	margin: 0 10px 10px 0;
}

#header_menu .header_title {
	margin-bottom: 5px;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: -1px;
}

.menu_btn {
}

.menu_btn ul {
}

.menu_btn li {
	display:block;
	width: 58px;
	height: 25px;
	float:left;
	padding: 3px 8px;
	letter-spacing: -1px;
	border: #ae0010 1px solid;
	border-radius: 4px;
	-webkit-border-radius: 3px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
	font-weight: bold;
	background-color: #E50012;
}

.menu_btn li:first-child {
	margin-right: 4px;
}

.menu_btn li a {
	padding: 0;
	line-height: 25px;
	text-decoration:none;
	color: #FFFFFF;
}

#header_welcome {
	clear:both;
	padding: 5px 0;
	background: #e9e3d9;
	background: -webkit-gradient(linear,left top, left bottom, from(0%,#d1ccc3),to(30%,#e9e3d9));
	background: -webkit-linear-gradient(top,#d1ccc3 0%,#e9e3d9 30%);
	background: linear-gradient(to bottom,#d1ccc3 0%,#e9e3d9 30%);
	border-bottom: #b8b6b0 1px solid;
	color: #230000;
	overflow: hidden;
}

#header_welcome p {
	display: block;
	height: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 25px;
}

#header_welcome p:first-child {
	float: left;
	margin: 5px 0 5px 10px;
}

#header_welcome p:last-child {
	float: right;
	margin: 5px 10px 5px 0;
}

#header_info {
	clear:both;
	margin-top:1px;
	border-top: #E50012 2px solid;
	border-bottom: #E50012 2px solid;
}

#header_info p{
	color:#E50012;
	line-height:25px;
	text-align:center;
	vertical-align:middle;
}

#header_info img{
	vertical-align:middle;
}

#banner {
	clear:both;
	margin-top: 4px;
	text-align: center;
}

#footer_menu {
	clear:both;
	margin-top: 10px;
	padding: 5px 0;
	background: #e9e3d9;
	background: -webkit-gradient(linear,left top, left bottom, from(0%,#d1ccc3),to(30%,#e9e3d9));
	background: -webkit-linear-gradient(top,#d1ccc3 0%,#e9e3d9 30%);
	background: linear-gradient(to bottom,#d1ccc3 0%,#e9e3d9 30%);
	border-bottom: #b8b6b0 1px solid;
	color: #230000;
	overflow: hidden;
}

#footer_menu p {
	display: block;
	height: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 25px;
}

#footer_menu p:first-child {
	float: left;
	margin: 5px 0 5px 10px;
}

#footer_menu p:last-child {
	float: right;
	margin: 5px 10px 5px 0;
}

#footer_nav {
	background: #e9e3d9;
}

#footer_nav ul {
}

#footer_nav li {
	border-bottom: #b8b6b0 1px solid;
}

#footer_nav li a:before {
	content: "";
	display: inline-block;
	width: 7px;
	height: 18px;
	margin-top: -4px;
	margin-right: 5px;
	border: #806b5e 1px solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #cfb2a3;
	vertical-align: middle;
}

#footer_nav li a {
	display:block;
	padding: 10px;
	border-top: #FFFFFF;
	background-color: #FAFAFA;
	color: #320000;
	overflow: hidden;
	text-decoration:none;
}

#copyright {
	background-color: #E50012;
	color:#FFFFFF;
	text-align: center;
}

/*##############################
トップページ
##############################*/
.section {
}

.category_nav {
}

.category_nav table{
	width: 100%;
	border:none;
}

.category_nav td{
    height: 44px;
    border: 1px solid #cfcfcf;
    border-top: 0;
    border-right: 0;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;
}

.category_nav img {
	vertical-align: middle;
	margin-right: 2px;
}

.category_nav a {
    text-decoration: none;
    text-shadow: 1px 1px 1px #cccccc;
    color: #666666;
}

/*##############################
商品詳細
##############################*/
p.goods_exp_memo{
	margin:10px 0;
}

.item_disp{
	margin:8px 0 4px 0;
}

.item_disp p{
	display: inline-block;
	margin:2px 1px;
	padding:2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align:center;
	vertical-align: middle;
	background-color: #FFF;
	border: #000 1px solid;
	color:#000;
}

.item_disp p.free{
	border: #F00 1px solid;
	color:#F00;
}

.item_disp p.cool{
	border: #0977FD 1px solid;
	color:#0977FD;
}

.item_disp p.freeze{
	background-color: #0977FD;
	border: #026AEA 1px solid;
	color:#FFF;
}

.item_cart{
	clear:both;
	margin:10px 0;
	padding:5px;
	background:#ECE8DF;
	text-align: center;
	overflow:hidden;
}

.item_cart_tag {
	margin: 5px 0;
	padding: 10px;
	border: #FF0000 1px solid;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
	vertical-align: middle;
}

.item_cart_price {
	line-height: 150%;
	font-size: 150%;
	font-weight: bold;
	color: #FF0000;
}

.item_cart_input{
	display:table;
	width:100%;
	line-height: 130%;
	font-size: 130%;
}

.item_cart_input p{
	display: table-cell;
	width:100px;
	text-align: left;
	border: #FFF 2px solid;
}

select#goods_num{
	width: 50px;
}

input.item_cart_btn {
	display: table-cell;
	width:100%;
	padding-left: 12px;
	padding-right: 12px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #a7000b 1px solid;
	background-color: #FF0000;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(29%, #ff1a1a), color-stop(50%,#ff3232), color-stop(90%, #ff1010));
	background: -webkit-linear-gradient(top,#ffffff 0%,#ff1a1a 29%,#ff3232 50%,ff1010 90%);
	background: linear-gradient(to bottom,#ffffff 0%,#ff1a1a 29%,#ff3232 50%,ff1010 90%);
	color: #fff;
	text-shadow: #FAFAFA 1px 1px 0;
	font-weight: bold;
	text-align: center;
	position: relative;
}

.item_cart_opt {
	display:table;
	width:100%;
}

.item_cart_opt_sep {
	display:table-cell;
	padding-left: 2px;
	padding-right: 2px;
	border:none;
}

.item_cart_opt_off {
	display:table-cell;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
	line-height:35px;
	border: #939393 1px dotted;
	color:#FFF;
}

.item_cart_opt_on {
	display:table-cell;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
	line-height:35px;
	border: #FF0000 1px solid;
	background-color: #FFFFFF;
}

.item_cart_opt_on a {
	color:#F00;
	text-decoration:none;
}

.item_spec{
	margin:10px 0;
}

.item_spec table{
	border:none;
	background:#EFEFEF;
}

.item_spec th, .goods_spec td{
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	padding: 4px;
	text-align:left;
	vertical-align:top;
}

.item_spec th{
	white-space:nowrap;
}
/*##############################
カートの中身
##############################*/
.cart{
}

.cart textarea#order_comment{
	width:100%;
}

/*##############################
いろいろ
##############################*/
p.indent{
	padding-left:1em;
	text-indent:-1em;
}

.prev_page{
	clear: both;
	text-align: center;
	padding-top: 10px;
}

.prev_page p{
	display: inline-block;
	height: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 25px;
}

.btn_gray {
	padding-left: 8px;
	padding-right: 8px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #939393 1px solid;
	background-color: #eeeeeb;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%, #f4f4f4), color-stop(50%,#e9e9e9), color-stop(90%, #dfdeda));
	background: -webkit-linear-gradient(top,#ffffff 0%,#f4f4f4 49%,#e9e9e9 50%,dfdeda 90%);
	background: linear-gradient(to bottom,#ffffff 0%,#f4f4f4 49%,#e9e9e9 50%,dfdeda 90%);
	text-shadow: #fff 1px 1px 0;
	font-weight: bold;
	text-align: center;
	position: relative;
}

.btn_gray a {
	text-decoration:none;
}

.row {
	margin:0;
	padding:5px 0px;
}

.topic {
	display:block;
	padding: 10px;
	overflow: hidden;
}

.chapter{
	margin-top:10px;
	font-size:120%;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

.pad_none {
	display:block;
	padding: 10px;
	overflow: hidden;
}

.pad_gray {
	display:block;
	padding: 10px;
	overflow: hidden;
	background:#F3ECDA;
}

.pad_red {
	display:block;
	padding: 10px;
	overflow: hidden;
	background:#E50012;
}

.red {
	color:#F00;
}

.green {
	color:#690;
}

.white {
	color:#FFF;
}
